<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" strict="true">
    <Properties>
        <Property name="filename">logfile.log</Property>
    </Properties>
    <Appenders>
        <Appender type="Console" name="Console" target="SYSTEM_ERR">
            <Layout type="PatternLayout">
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </Layout>
        </Appender>
        <Appender type="File" name="FileAppender" fileName="${filename}">
            <Layout type="PatternLayout">
                <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
            </Layout>
        </Appender>
    </Appenders>
    <Loggers>
        <Logger name="org.hibernate.SQL" level="INFO" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <Logger name="org.hibernate.type.descriptor.sql" level="INFO" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <Logger name="com.allaroundjava" level="WARN" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>